<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="sql_jobs_scripter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <sql_jobs_scripter.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value>(local)</value>
            </setting>
            <setting name="job_name_prefix" serializeAs="String">
                <value>scripter_</value>
            </setting>
            <setting name="output_dir" serializeAs="String">
                <value>c:\temp\</value>
            </setting>
        </sql_jobs_scripter.Properties.Settings>
    </userSettings>
</configuration>